<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Stock</title></head>
<body>
<h3>Gestion de stock :</h3>
<<table border="1">
    <thead>
    <tr>
        <th>Article</th>
        <th>Qté</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <td th:text="${article.label}">Nom de l'article</td>
        <td th:text="${article.quantity}">0</td>
    </tr>
    <tr th:if="${#lists.isEmpty(articles)}">
        <td colspan="2">Aucun article en stock.</td>
    </tr>
    </tbody>
</table>

<form th:action="@{/stock/appro}" method="post">
    <button type="submit">Approvisionner</button>
</form>

</body>
</html>
